*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;


}

body{
    background-color: #af8468;
    box-sizing: content-box;


}


header {
    text-align: center;
    background:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b8fe840-1030-4f1b-b7e2-14012baf7b73/d248r8s-e3ff4eff-8f7d-4fdb-908e-5df42931d5d2.jpg/v1/fill/w_800,h_1119,q_75,strp/screwed_up_paper_texture_by_sanzo_supreme_d248r8s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTExOSIsInBhdGgiOiJcL2ZcLzdiOGZlODQwLTEwMzAtNGYxYi1iN2UyLTE0MDEyYmFmN2I3M1wvZDI0OHI4cy1lM2ZmNGVmZi04ZjdkLTRmZGItOTA4ZS01ZGY0MjkzMWQ1ZDIuanBnIiwid2lkdGgiOiI8PTgwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2PHum79ZsXVgN_fJAIV6q5zGNFTC3Wgrb1pSFocVleo)
    
}

header h1{
    color: #35013d;
}


header img{

    height: 150px;
    width: 150px;


}

table {
    text-align: center;
    margin-left: 37%;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b8fe840-1030-4f1b-b7e2-14012baf7b73/d248r8s-e3ff4eff-8f7d-4fdb-908e-5df42931d5d2.jpg/v1/fill/w_800,h_1119,q_75,strp/screwed_up_paper_texture_by_sanzo_supreme_d248r8s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTExOSIsInBhdGgiOiJcL2ZcLzdiOGZlODQwLTEwMzAtNGYxYi1iN2UyLTE0MDEyYmFmN2I3M1wvZDI0OHI4cy1lM2ZmNGVmZi04ZjdkLTRmZGItOTA4ZS01ZGY0MjkzMWQ1ZDIuanBnIiwid2lkdGgiOiI8PTgwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2PHum79ZsXVgN_fJAIV6q5zGNFTC3Wgrb1pSFocVleo);
    border-radius: 20px;
}
main h2{
    background-color: #210642;
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    color: beige;


}




form{
    text-align: center;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7b8fe840-1030-4f1b-b7e2-14012baf7b73/d248r8s-e3ff4eff-8f7d-4fdb-908e-5df42931d5d2.jpg/v1/fill/w_800,h_1119,q_75,strp/screwed_up_paper_texture_by_sanzo_supreme_d248r8s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTExOSIsInBhdGgiOiJcL2ZcLzdiOGZlODQwLTEwMzAtNGYxYi1iN2UyLTE0MDEyYmFmN2I3M1wvZDI0OHI4cy1lM2ZmNGVmZi04ZjdkLTRmZGItOTA4ZS01ZGY0MjkzMWQ1ZDIuanBnIiwid2lkdGgiOiI8PTgwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2PHum79ZsXVgN_fJAIV6q5zGNFTC3Wgrb1pSFocVleo);
    box-sizing: 360px 180px;
    border-radius: 20px;

}

footer {
    background-color: #2d1200;



}


